<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <img src="/logo.png" alt="" class="logo-img">
            </div>
            <div class="header-cab">
                <a href="/login" class="header-cab__span">
                    Личный кабинет
                </a>
            </div>
        </div>
    </div>
</header>

<div class="page">
    <div th:if="${error}">
        <p th:value="${error}" style="color: red"></p>
    </div>
    <div class="name">
        <h1 class="page-title">Регистрация</h1>
    </div>
    <div class="page-card">
        <div class="card">
            <form th:action="@{/registration}" method="post">
                <input class="page-search__input" type="text" id="username" name="username" placeholder="Логин">
                <input class="page-search__input" type="password" id="password" name="password" placeholder="Пароль">
                <input class="page-search__input" type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
    <button class="button">
        <a href="/login"  class="button-link__add">Назад</a>
    </button>
</div>
<div th:insert="fragment/footer :: defaultFooter"></div>
</body>
</html>